# Microsoft Office temporary files
~$*

# project virtual environment
.cvenv

# talend workspace junk
.metadata/
.config/
p2/
configuration/
.JETEmitters/

# talend project junk
**/.Java/
**/temp/
**/bin/
**/migration.log
**/TDQ_Libraries/
**/talend.project.local
**/.settings/
**/sqlPatterns/


# talend build and maven junk
**/poms/
**/target/


*.mp4
*.mkv